*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  padding: 1em;
}

.container-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  border: 1px solid steelblue;
  padding: .4em;
}
.card a{
  text-decoration: none;
}
.card img{
  width: 100%;
  height: auto;
  max-width: 90px;
}
.poke-info{
  background: #53575A;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}
.poke-title{
  padding-left: .7em;
}
.poke-info img{
  width: 100%;
  height: auto;
  max-width: 150px;
}
.poke-info p{
  color: #FAFDFF;
}
.navigation{
  background: #53575A;
  padding: .5em 2em;
}
.navigation a{
  text-decoration: none;
  color:#FAFDFF;
  font-weight: bold;
}